{
	"extends": "airbnb",
	"rules": {
		"react/jsx-indent": "off",
		"react/jsx-filename-extension": "off",
		"react/prop-types": "off",
		"react/require-default-props": "off",
		"jsx-a11y/href-no-hash": "off",
		"class-methods-use-this": "off",
		"import/no-extraneous-dependencies": "off",
		"jsx-a11y/anchor-is-valid": [
			"warn",
			{
				"aspects": [
					"invalidHref"
				]
			}
		],
		"indent": [
			2,
			"tab"
		],
		"no-tabs": 0,
		"semi": 0,
		"max-len": 0
	}
}